
<div class="h-100 p-5 bg-body-tertiary border rounded-3" [style.overflow]="'hidden'">
    <h2>Registrarse</h2>
    <mat-tab-group>
      <mat-tab label="Especialista"> <app-form-alta-especialista></app-form-alta-especialista> </mat-tab>
      <mat-tab label="Paciente"> <app-form-alta-paciente></app-form-alta-paciente> </mat-tab>
    </mat-tab-group>
    <p
    [style.padding]="'15px 0 '"
    [style.text-align]="'center'">
      ¿Ya tenés una cuenta? <a [routerLink]="['/login']">Iniciar Sesión</a>
    </p>
</div>
