

<h2 mat-dialog-title [style.color]="'red'">FUNCIONALIDAD EN DESARROLLO</h2>
<h2 mat-dialog-title>¿Desea cancelar el turno?</h2>
<mat-dialog-content>
    <p>Esta acción <b>no</b> puede deshacerse.</p>
    <p>Debe dejar un comentario del motivo de cancelación del turno:</p>
    <mat-form-field [style.width]="'100%'">
        <mat-label>Tu comentario</mat-label>
        <textarea matInput [(ngModel)]="comentario"></textarea>
    </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions class="flexrow"
[style.justify-content]="'center'"
[style.align-items]="'center'"
[style.padding]="'20px 0px'"
[style.gap.px]="40">
  <button mat-button color="primary" mat-dialog-close>Volver</button>
  <button mat-button color="warn" [mat-dialog-close]="true">Cancelar Turno</button>
</mat-dialog-actions>

